.nav
{
	height: 60px;
	margin-top: 10px;
	box-shadow:  5px 5px 5px #888888;
	width: 100%;
	color: white;
	top:-1px;
	z-index: 1;
	overflow: hidden;
	position: sticky;
	background-color: #242323;
}
#navi
{
	margin-left: 20px;
	margin-top: 15px;
	float: right;
}
.head1
{
	text-align: center;
	margin-top: 50px;
}
.head2
{
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
.l1
{
	
	width: 75%;
	margin-left: 12.5%;
	margin-top: 30px;
	display: flex;
}
.inner
{
	width: 43%;
	margin-left: 5%;
	box-shadow:  5px 5px 5px #888888;
}

#image
{
	height: 200px;
	width: 100%;
}
#image:hover
{
	opacity: 0.6;
}
#info
{
  margin-left: 5px;
  margin-bottom: 5px;
 
}
#btn
{
	width: 100px;
	height: 30px;
	border: 0px;
}
#read, #read1 ,#read2, #read3, #read4 ,#read5
{
	display: none;
}
.footer
{
	height: 50px;
	box-shadow: 5px 5px 5px 5px #888888;
	margin-top: 50px;
	background-color: #242323;
	color: white;
	bottom: 0;
	position: sticky;
}
.footer1
{
	float: right;
	margin-top: 10px;
    margin-right: 20px;
}